@charset "UTF-8";

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a{
    color: rgb(53, 53, 199);
}

nav{
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav #logo-block{
    margin-left: 50px;
}

nav #dropdown{
    margin-right: 50px;
}

nav h1{
    font-size: 2rem;
}

#dropdown div{
    margin-left: 10px;
}

#dropdown{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    width: 50px;
    border: 3px solid black;
    margin-top: 10px;
}

#info-block, #projects-block, #contact-block{
    text-align: center;
    margin-top: 50px;
}

#info-data{
    border: 2px solid black;
    max-width: 970px;
    margin: 0 auto;
    padding: 20px 60px;
}

#info-flex{
    display: flex;
    margin-bottom: 30px;
}

#info-flex img{
    border-radius: 20px;
}

#info-flex p{
    text-align: justify;
    line-height: 30px;
    margin-bottom: 15px;
}

#info-flex div{
    margin-left: 20px;
}

#projects-flex, #contact-flex{
    border: 2px solid black;
    max-width: 970px;
    margin: 0 auto;
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#projects-flex > div{
    flex: 0 1 300px;
    border: 1px solid black;
    margin: 30px;
    padding: 50px 20px;
    border-radius: 20px;
}

#contact-block{
    margin-bottom: 20px;
}

.contato{
    flex: 1 1 400px;
    margin: 10px;
    text-align: justify;
}

.contato img{
    margin-right: 20px;
}

@media screen and (max-width: 850px) {
    #info-flex{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #info-flex p{
        text-align: center;
    }
}